
@media (max-width: 640px) {


    nav{
    padding: 8px 20px ;
    height: 7vh;
}

.navleft{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

    .navleft a{
    font-size: 12px;
}    

.navright{
    gap: 0.6rem;
}

.navright p{
    font-size: 11px;
}
.navright img{
    padding: 2px;
    height: 22px;
}

.sign{
    padding: 8px 12px;
    font-size: 12px;
}

.body {
    width: 100%;
    height: 78vh;

}

.logo {
    width: 100%;
    height: 26vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.search {
    width: 100%;
    height: 26vh;
}
.searchbar {
    width: 85vw;
    height: 6vh;
}
#search{
    padding: 0 4px;
    font-size: 14px;
    width: 40vw;
}

.mic{
    height: 18px;
    padding: 0 6px;
}
.img-search{
    height: 18px;
    padding-right: 6px;
}

.ai-mode-bg{
    height: 30px;
    width: 80px;
    gap: 2px;
    
}
.ai-mode-cont{
    gap: 2px;
    height: 28px;
    width: 65px;
    padding: 4px 6px;
}
.ai-mode-bg img{
    height: 12px;
}
.ai-mode-bg p{
    font-size: 12px;
}
.twotabs {
    display: flex;
    gap: 1rem;
}

.googlesearch {
    width: 28vw;
    height: 4vh;
    font-size: 12px;
}
.feelinglucky {
    width: 28vw;
    height: 4vh;
    font-size: 12px;
}
.lang {
    height: 15vh;
    display: flex;
    padding: 0 4vw;
    align-items: start;
    justify-content: center;
}
.lang-cont{
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(71, 71, 71);
    font-size: 0.8rem;
    text-align: center;
}


footer{
    height: 26vh;
    background-color: rgba(220, 219, 219, 0.181);
}
.india{
    height: 6vh;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(171, 170, 170, 0.288);
}

.bottom{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vh 3vh;
    font-size: 0.8rem;

}

.btm-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}
.btm-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}
}